<div class="blue-circle"></div>

<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Launchpads</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-container">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="theme-list-item" *ngFor="let launchpad of launchpads" (tap)="viewDetails(launchpad)">
    <ion-card-content>
      <ion-note *ngIf="launchpad.status == 'active'" float-end><ion-icon name="square" class="color-green"></ion-icon> Active</ion-note>
      <ion-note *ngIf="launchpad.status != 'active'" float-end><ion-icon name="square"></ion-icon> Not active</ion-note>

      <ion-card-title class="theme-title">
        {{ launchpad.full_name }}

        <div class="theme-subtitle">
          {{ launchpad.location.name }}, {{ launchpad.location.region }}
        </div>
      </ion-card-title>

      <p>{{ launchpad.details }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
