<div class="blue-circle"></div>

<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding margin-top *ngIf="about">
  <div float-end text-right>
    <div><span class="font-bold">Employees:</span> {{ about.employees }}</div>
    <div><span class="font-bold">Vehicles:</span> {{ about.vehicles }}</div>
    <div><span class="font-bold">Launch sites:</span> {{ about.launch_sites }}</div>
    <div><span class="font-bold">Test sites:</span> {{ about.test_sites }}</div>
  </div>

  <div class="clear"></div>

  <div class="card-title-md theme-title">
    <div class="theme-title-lined mb-5">{{ about.name }}</div>
    <div class="theme-subtitle">by {{ about.founder }} in {{ about.founded }}</div>
    <div class="theme-subtitle">Valuation: {{ about.valuation }} $</div>
  </div>

  <div class="card-content-md">
    <p>{{ about.summary }}</p>
  </div>

  <div class="card-title-md theme-title reversed">
    <div class="theme-title-lined">Team</div>
  </div>

  <div class="card-content-md" text-right>
    <div>{{ about.ceo }} - <span class="font-bold">CEO</span></div>
    <div>{{ about.cto }} - <span class="font-bold">CTO</span></div>
    <div>{{ about.coo }} - <span class="font-bold">COO</span></div>
    <div>{{ about.cto_propulsion }} - <span class="font-bold">CTO propulsion</span></div>
  </div>

  <div class="card-title-md theme-title">
    <div class="theme-title-lined">Address</div>
  </div>

  <div class="card-content-md" *ngIf="about.headquarters">
    <div>{{ about.headquarters.address }}, {{ about.headquarters.city }} - {{ about.headquarters.state | uppercase }}</div>
  </div>
</ion-content>
