<div class="blue-circle"></div>

<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Detailed capsules</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-container">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="theme-list-item" *ngFor="let detailsCapsule of detailsCapsules" (tap)="viewDetails(detailsCapsule)">
    <ion-card-content>
      <ion-card-title class="theme-title">
        {{ detailsCapsule.capsule_serial }}

        <div class="theme-subtitle">
          {{ detailsCapsule.status }}
        </div>
      </ion-card-title>
    </ion-card-content>

    <ion-grid class="border-top-grey">
        <ion-row>
          <ion-col text-center>
            <div class="font-bold">Landings</div>
            <div>{{ detailsCapsule.landings }}</div>
          </ion-col>
          <ion-col text-center>
            <div class="font-bold">Type</div>
            <div>{{ detailsCapsule.type }}</div>
          </ion-col>
          <ion-col text-center>
            <div class="font-bold">Original launch</div>
            <div>{{ detailsCapsule.original_launch | date:'dd/MM/yyyy'}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>

  </ion-card>
</ion-content>
