<div class="blue-circle"></div>

<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Detailed core details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card-content>
      <ion-card-title class="theme-title">
        {{ detailsCore.core_serial }}

        <div class="theme-subtitle">
          {{ detailsCore.status }}
        </div>
      </ion-card-title>
      <!--<img [src]="'assets/imgs/capsules/' + detailsCapsule.id + '.png'"/>-->
  </ion-card-content>

  <ion-card-content>
    <div class="card-title-md theme-title">
      <div class="theme-title-lined">Description</div>
    </div>
    <p>
      {{ detailsCore.details }}
    </p>
  </ion-card-content>

  <ion-grid class="border-top-grey">
    <ion-row>
      <ion-col text-center>
        <div class="font-bold">Missions</div>
        <div class="vehicles" *ngFor="let mission of detailsCore.missions">{{ mission }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="border-top-grey">
    <ion-row>
      <ion-col text-center>
        <div class="font-bold">RTLS Landings</div>
        <div>{{ detailsCore.rtls_landings }}</div>
      </ion-col>
      <ion-col text-center>
        <div class="font-bold">ASDS Landing</div>
        <div>{{ detailsCore.asds_landings }}</div>
      </ion-col>
      <ion-col text-center>
        <div class="font-bold">Original launch</div>
        <div>{{ detailsCore.original_launch | date:'dd/MM/yyyy'}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
