<div class="blue-circle"></div>

<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Capsule details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content parallax-header no-bounce>
  <div class="header-image">
    <div *ngIf="capsule" class="header-image-dynamic" [style.background-image]="'url(assets/imgs/capsules/' + capsule.id + '.png)'"></div>
  </div>

  <div class="main-content">
    <div *ngIf="capsule">
      <ion-card-content>
        <ion-card-title class="theme-title">
          {{ capsule.name }}
          <ion-note><ion-icon *ngIf="capsule.active" name="square" class="color-green"></ion-icon></ion-note>
          <ion-note><ion-icon *ngIf="!capsule.active" name="square"></ion-icon></ion-note>

          <div class="theme-subtitle">{{ capsule.type }}</div>
        </ion-card-title>
      </ion-card-content>

      <ion-grid class="border-top-grey">
        <ion-row>
          <ion-col text-center>
            <div class="font-bold">Crew capacity</div>
            <div class="col-value">{{ capsule.crew_capacity }}</div>
          </ion-col>
          <ion-col text-center>
            <div class="font-bold">Heat shield</div>
            <div class="col-value">{{ capsule.heat_shield.material }}</div>
          </ion-col>
          <ion-col text-center>
            <div class="font-bold">Diameter</div>
            <div class="col-value">{{ capsule.diameter.meters }}m</div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <br>
      <ion-grid class="border-top-grey">
        <ion-row>
          <ion-col text-center>
            <div class="font-bold">Trunk volume</div>
            <div class="col-value">{{ capsule.trunk.trunk_volume.cubic_meters }}m³</div>
          </ion-col>
          <ion-col text-center>
            <div class="font-bold">Launch payload mass</div>
            <div class="col-value">{{ capsule.launch_payload_mass.kg }}Kg</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
