page-detailed-capsule-details {
  .col .font-bold {
    color:#c5c5c5;
    font-size: 0.9em;
    font-weight: bold;
  }

  .col .col-value {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .col {
    padding: 5px 2px;
    color:#0000ff;
  }
}
