page-launches {
  .launch-image {
    padding: 15px;
    width: 150px;
    margin: 0 auto;
  }

  .countdown {
    padding: 35px;
  }

  .countdown-value {
    font-weight: bold;
    font-size: 3rem;
  }

  .countdown-label {
    font-weight: bold;
    font-size: 0.9em;
    color: rgb(197, 197, 197);
  }
}
