<div class="blue-circle"></div>

<ion-header no-border>
  <ion-toolbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="theme-bar-title">Launches</ion-title>

    <ion-buttons class="mtr-10" end>
      <button ion-button icon-only color="primary" (tap)="showFilters()">
        <ion-icon small name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div class="mt-45"></div>

  <ion-segment [(ngModel)]="period" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="past">Past ({{ pastLaunches.length }})</ion-segment-button>
    <ion-segment-button value="next">Next ({{ nextLaunch ? 1 : 0 }})</ion-segment-button>
    <ion-segment-button value="upcoming">Upcoming ({{ upcomingLaunches.length }})</ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="list-container">

  <div [ngSwitch]="period">
    <div *ngIf="nextLaunch">
      <ion-refresher (ionRefresh)="doRefreshNextLaunch($event)">
        <ion-refresher-content
          pullingIcon="arrow-down"
          pullingText="Pull to refresh"
          refreshingSpinner="crescent"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

      <!-- NEXT -->
      <div *ngSwitchCase="'next'">
        <ion-grid class="countdown" *ngIf="nextLaunch">
          <ion-row no-padding>
            <ion-col text-center no-padding>
              <div class="countdown-value">{{ countdownDays | number : '2.0-0' }}</div>
              <div class="countdown-label">Days</div>
            </ion-col>
            <ion-col text-center no-padding>
              <div class="countdown-value">{{ countdownHours | number : '2.0-0' }}</div>
              <div class="countdown-label">Hours</div>
            </ion-col>
            <ion-col text-center no-padding>
              <div class="countdown-value">{{ countdownMinutes | number : '2.0-0' }}</div>
              <div class="countdown-label">Minutes</div>
            </ion-col>
            <ion-col text-center no-padding>
              <div class="countdown-value">{{ countdownSeconds | number : '2.0-0' }}</div>
              <div class="countdown-label">Seconds</div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-card class="theme-list-item" (tap)="viewDetails(nextLaunch)">
          <ion-card-content>
            <ion-card-title class="theme-title">
              {{ nextLaunch.rocket.rocket_name }}

              <div class="theme-subtitle">
                {{ nextLaunch.launch_site.site_name_long }}
              </div>
            </ion-card-title>

            <img *ngIf="nextLaunch.links.mission_patch" class="launch-image" [src]="nextLaunch.links.mission_patch"/>
          </ion-card-content>

          <ion-grid class="border-top-grey">
            <ion-row>
              <ion-col text-center>
                <div class="font-bold">Date</div>
                <div>{{ nextLaunch.launch_date_local | date:'dd/MM/yyyy' }}</div>
              </ion-col>
              <ion-col text-center>
                <div class="font-bold">Time</div>
                <div>{{ nextLaunch.launch_date_local | date:'HH:mm:ss' }}</div>
              </ion-col>
              <ion-col text-center>
                <div class="font-bold">Rocket</div>
                <div>{{ nextLaunch.rocket.rocket_name }}</div>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card>
      </div>
    </div>

    <ion-list *ngSwitchCase="'past'">
      <ion-refresher (ionRefresh)="doRefreshPastLaunches($event)">
        <ion-refresher-content
          pullingIcon="arrow-down"
          pullingText="Pull to refresh"
          refreshingSpinner="crescent"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

      <ion-card class="theme-list-item" *ngFor="let launch of pastLaunches" (tap)="viewDetails(launch)">
        <ion-card-content>
          <ion-note *ngIf="launch.launch_success" float-end><ion-icon name="square" class="color-green"></ion-icon> Successful</ion-note>
          <ion-note *ngIf="!launch.launch_success" float-end><ion-icon name="square"></ion-icon> Not successful</ion-note>

          <ion-card-title class="theme-title">
            {{ launch.rocket.rocket_name }}

            <div class="theme-subtitle">
              {{ launch.launch_site.site_name_long }}
            </div>
          </ion-card-title>

          <img class="launch-image" [src]="launch.links.mission_patch"/>
        </ion-card-content>

        <ion-grid class="border-top-grey">
          <ion-row>
            <ion-col text-center>
              <div class="font-bold">Date</div>
              <div>{{ launch.launch_date_local | date:'dd/MM/yyyy' }}</div>
            </ion-col>
            <ion-col text-center>
              <div class="font-bold">Time</div>
              <div>{{ launch.launch_date_local | date:'HH:mm:ss' }}</div>
            </ion-col>
            <ion-col text-center>
              <div class="font-bold">Rocket</div>
              <div>{{ launch.rocket.rocket_name }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'upcoming'">
      <ion-refresher (ionRefresh)="doRefreshUpcomingLaunches($event)">
        <ion-refresher-content
          pullingIcon="arrow-down"
          pullingText="Pull to refresh"
          refreshingSpinner="crescent"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

      <ion-card class="theme-list-item" *ngFor="let launch of upcomingLaunches" (tap)="viewDetails(launch)">
        <ion-card-content>
          <ion-card-title class="theme-title">
            {{ launch.rocket.rocket_name }}

            <div class="theme-subtitle">
              {{ launch.launch_site.site_name_long }}
            </div>
          </ion-card-title>

          <img *ngIf="launch.links.mission_patch" class="launch-image" [src]="launch.links.mission_patch"/>
        </ion-card-content>

        <ion-grid class="border-top-grey">
          <ion-row>
            <ion-col text-center>
              <div class="font-bold">Date</div>
              <div>{{ launch.launch_date_local | date:'dd/MM/yyyy' }}</div>
            </ion-col>
            <ion-col text-center>
              <div class="font-bold">Time</div>
              <div>{{ launch.launch_date_local | date:'HH:mm:ss' }}</div>
            </ion-col>
            <ion-col text-center>
              <div class="font-bold">Rocket</div>
              <div>{{ launch.rocket.rocket_name }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card>
    </ion-list>
  </div>
</ion-content>
