<div class="blue-circle"></div>

<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-container">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="theme-list-item no-click" *ngFor="let event of events">
    <ion-card-content>
      <ion-card-title class="theme-title">
        {{ event.title }}

        <div class="theme-subtitle">
          {{ event.event_date_utc | date: 'dd/MM/yyyy' }}
        </div>
      </ion-card-title>

      <p text-justify>{{ event.details }}</p>
    </ion-card-content>

    <ion-grid class="border-top-grey">
      <ion-row>
        <ion-col text-center (click)="openURL(event.links.reddit)">
          <button ion-button icon-left clear class="font-18"><ion-icon name="logo-reddit"></ion-icon></button>
          <div class="theme-view-more">View more ></div>
          <div class="color-light-grey">Reddit</div>
        </ion-col>
        <ion-col text-center (click)="openURL(event.links.article)">
          <button ion-button icon-left clear class="font-18"><ion-icon name="paper"></ion-icon></button>
          <div class="theme-view-more">View more ></div>
          <div class="color-light-grey">Article</div>
        </ion-col>
        <ion-col text-center (click)="openURL(event.links.wikipedia)">
          <button ion-button icon-left clear class="font-18"><ion-icon name="logo-wordpress"></ion-icon></button>
          <div class="theme-view-more">View more ></div>
          <div class="color-light-grey">Wikipedia</div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>
