page-rocket-details {
  ion-note {
    font-size: 0.7em !important;
  }

  .col .font-bold{
      color:#0000ff;
  }
  .col{
      font-size:11px;
      padding: 5px 2px;
      color:#c5c5c5;
  }

  .header-image {
    height: 40vh;
    background: white center center;
    background-size: cover;
    position: relative;
    z-index: -1;
  }

  .header-image-dynamic {
    background: white center center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .main-content {
    margin-top: -30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color: white;
    -webkit-box-shadow: 0 0 55px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 55px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 55px -16px rgba(0, 0, 0, 0.75);
    // background: #F5F5F5;
    position: relative !important;
  }
}
