<div class="blue-circle"></div>

<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Capsules</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-container">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="theme-list-item" *ngFor="let capsule of capsules" (tap)="viewDetails(capsule)">
    <ion-card-content>
      <ion-card-title class="theme-title">
        {{ capsule.name }}
        <ion-note><ion-icon *ngIf="capsule.active" name="square" class="color-green"></ion-icon></ion-note>
        <ion-note><ion-icon *ngIf="!capsule.active" name="square"></ion-icon></ion-note>

        <div class="theme-subtitle">
          {{ capsule.type }}
        </div>
      </ion-card-title>
    </ion-card-content>

    <img [src]="'assets/imgs/capsules/' + capsule.id + '.png'"/>
  </ion-card>
</ion-content>
