<ion-header>
  <ion-navbar>
    <ion-title>Filters</ion-title>

    <ion-buttons class="mtr-10" end>
      <button ion-button icon-only (tap)="dismiss()">
        <ion-icon color="primary" name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list radio-group [(ngModel)]="filters.order">
    <ion-list-header>Order by</ion-list-header>

    <ion-item>
      <ion-label>Launch date descending</ion-label>
      <ion-radio value="desc"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Launch date ascending</ion-label>
      <ion-radio value="asc"></ion-radio>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>Filter with</ion-list-header>

    <ion-item>
      <ion-label>Launch year</ion-label>
      <ion-select [(ngModel)]="filters.launch_year">
        <ion-option *ngFor="let yearOption of yearsOptions" [value]="yearOption.value">{{ yearOption.key }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Rocket model</ion-label>
      <ion-select [(ngModel)]="filters.rocket_id">
        <ion-option *ngFor="let rocketOption of rocketsOptions" [value]="rocketOption.rocket_id">{{ rocketOption.rocket_name }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Launch site</ion-label>
      <ion-select [(ngModel)]="filters.site_id">
        <ion-option *ngFor="let siteOption of sitesOptions" [value]="siteOption.site_id">{{ siteOption.site_name }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-grid padding>
    <ion-row>
      <ion-col>
        <button ion-button clear color="primary" full (tap)="resetFilters()">Reset</button>
      </ion-col>

      <ion-col>
        <button ion-button color="primary" full (tap)="dismiss()">Apply</button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
